.vtil-tag-content-wrapper {
  
  width: 100%;
  margin: 0.5em;

  .vtil-tag-wrapper {
    
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 1px 1px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 1px 1px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

    .vtil-delete:link, .vtil-delete:visited, .vtil-delete:active, .vtil-delete:hover {

      color: #E3290D;
      text-decoration: none;

    }
    
  }

}